@model Skladapp.Models.Klients

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверены что хотите удалить это?</h3>
<div>
    <h4>Клиенты</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sername)
        </dd>

        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Names)
        </dd>

        <dt>
            Отчество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удаление" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться обратно", "Index")
        </div>
    }
</div>
