@model Skladapp.Models.Dispatch

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить</h2>

<h3>Вы уверены что вы хотите удалить это?</h3>
<div>
    <h4>Отправки</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Даты
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dates)
        </dd>

        <dt>
            Фамилия сотрудника
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.Sername)
        </dd>

        <dt>
            Фамилия клиента
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klients.Sername)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться обратно", "Index")
        </div>
    }
</div>
